body {
    margin: 50% 10% 50% 10%;
    height: 100%;
}

.row {
    margin: 15% 2% 5% 2%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (orientation : landscape) {
    /* Styles */
    body {
        margin: 10% 5% 2% 5%;
    }

    .row {
        margin: 5% 2% 5% 2%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px)
and (orientation : portrait) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

@media only screen
and (min-device-width : 1080px)
and (max-device-width : 1920px)
and (orientation : portrait) {
    /* Styles */
}